@model Malevolence.Web.Models.ChangePasswordModel
@{
	ViewBag.Title = "Change Password";
}
<h2>Change Password</h2>
<p>Use the form below to change your password.</p>
<p>New passwords are required to be a minimum of @ViewBag.PasswordLength characters in length.</p>
@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
@using (Html.BeginForm())
{
	<fieldset>
		<legend>Account Information</legend>
		<ol>
			<li>
				@Html.LabelFor(m => m.OldPassword)
				@Html.PasswordFor(m => m.OldPassword)
				@Html.ValidationMessageFor(m => m.OldPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.NewPassword)
				@Html.PasswordFor(m => m.NewPassword)
				@Html.ValidationMessageFor(m => m.NewPassword)
			</li>
			<li>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.PasswordFor(m => m.ConfirmPassword)
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</li>
		</ol>
	</fieldset>
	<fieldset class="actions">
		<input type="submit" value="Change Password" />
	</fieldset>
}
@section scripts {
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")"></script>
}