@model int
@{
	ViewBag.Title = "Add Photo";
}
<h2>Add Photo</h2>
@Html.ValidationSummary(true)
@using (Html.BeginForm("AddPhoto", "Gallery", FormMethod.Post, new { enctype = "multipart/form-data" })) {
	<fieldset>
		<legend>Upload Photo</legend>
			<ol>
				<li>
					<label for="file">Select Photo:</label>
					<input type="file" id="file1" name="file" />
					<div id="progress-meter"></div>
				</li>
			</ol>
		</fieldset>
		<fieldset class="actions">
			<input type="submit" value="Add Photo" />
		</fieldset>
}
<div class="actions">
	@Html.ActionLink("Back to List", "Index", null, new { @class = "btn back" })
</div>
@section Scripts {
	<script src="http://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
	<script src="@Url.Content("~/Scripts/jquery.uploadify.min.js")"></script>
	<script>
		var auth = '@(Request.Cookies[FormsAuthentication.FormsCookieName] == null ? "" : Request.Cookies[FormsAuthentication.FormsCookieName].Value)';
		var sessionID = '@(Session.SessionID)';
		var albumID = @Model;
		var url = '@Url.Action("Edit", new { id = Model })';
		var scriptUrl = '@Url.Action("AddPhotoAjax")';

		$(function() {
			$('#file1').uploadify({
				fileDataName: 'file',
				fileDesc: 'Web Image Files (.jpg, .gif, .png)',
				fileExt: '*.jpg;*.gif;*.png',
				uploader: '/Content/flash/uploadify.swf',
				script: scriptUrl,
				cancelImg: '/Content/images/jquery/uploadify/cancel.png',
				auto: true,
				buttonText: 'Select Photo(s)',
				checkExisting: false,
				multi: true,
				scriptData: {
					AUTHID: auth,
					id: albumID,
					ASPSESSID: sessionID
				},
				onUploadComplete: function(file) {
					window.location = url;
				},
			});
		});
	</script>
}